<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>超级管理员</title>
	<style>
		.for{
			width:280px;
			float:left;
		}
	</style>
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet"
	href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
	<div id="app">
		<h1>修改员工角色</h1>
		<div>
			<el-form ref="form" :model="worker" label-width="80px">
				<div class="for">
					<el-form-item label="输入员工名称:" label-width="100px">
						<el-input v-model="worker.name" ></el-input>
					</el-form-item>
				</div>
			</el-form>
		</div>
		<el-table :data="list" border style="width: 100%">
			<el-table-column fixed prop="id" label="编号"> </el-table-column>
			<el-table-column prop="name" label="姓名"> </el-table-column>
			<el-table-column prop="sex" label="性别"> </el-table-column>
			<el-table-column prop="age" label="年龄"> </el-table-column>
			<el-table-column prop="tel" label="电话"> </el-table-column>
			<el-table-column prop="rId" label="角色"></el-table-column>
			<el-table-column prop="deptId" label="科室"></el-table-column>
			<el-table-column label="操作">
				<template slot-scope="scope">
					<el-button  @click="updateWorkerRole(scope.row.rId,scope.row.id)" type="text"
							   size="small">修改员工职位</el-button>
					<br>
				</template>
			</el-table-column>
		</el-table>
		<el-dialog title="请选择修改的职位" :visible.sync="updateWorkerRoleMt"
				   width="40%">
			<template>
				<el-radio-group v-model="arole.id">
					<el-radio :label="arole.id" v-for="arole in role">{{arole.name}}</el-radio>

				</el-radio-group>
			</template>
			<span slot="footer" class="dialog-footer"> <el-button
				@click="updateWorkerRoleMt = false">取 消</el-button> <el-button
				type="primary" @click="updateWorkerRoleButton()">修改</el-button>
		</span> </el-dialog>
		
	</div>
	<script type="text/javascript">
		new Vue({
			el : "#app",
			data : {
				list : [],
				worker:{
					id:"",
					name:"",
					sex:"",
					age:"",
					tel:"",
					password:"",
					rId:"",
					deptId:""
				},
				arole:{
					id:"",
					name:""
				},
				dept:[],
				role:[],
				updateWorkerRoleMt:false,

				
			},
			created : function() {
				this.selectWorker();
			},
			methods : {
				selectWorker : function() {
					var _this = this;
					$.ajax({
						url : "/workers/getworker",
						data :  _this.worker,
						success : function(data) {
							if (data.code == 200) {
								_this.list = data.list;
								_this.selectrole();
								_this.selectdept();
							}
						}
					});
				},
				selectrole : function() {
					var _this = this;
					$.ajax({
						url : "/workers/getRole",
						success : function(data) {
							if (data.code == 200) {
								_this.role= data.list;
								for(var i=0;i<_this.role.length;i++){
									for(var j=0;j<_this.list.length;j++){
										if(_this.list[j].rId==_this.role[i].id){
											_this.list[j].rId=_this.role[i].name;
										}
									}
								}
							}
						}
					});
				},
				selectdept: function() {
					var _this = this;
					$.ajax({
						url : "/workers/getdept",
						success : function(data) {
							if (data.code == 200) {
								_this.dept = data.list;
								for(var i=0;i<_this.dept.length;i++){
									for(var j=0;j<_this.list.length;j++){
										if(_this.list[j].deptId==_this.dept[i].id){
											_this.list[j].deptId=_this.dept[i].name;
										}
									}
								}
							}
						}
					});
				},
				updateWorkerRole:function (rId,id) {
					var _this=this;
					_this.worker.id=id;
					for(var i=0;i<_this.role.length;i++){
						for(var j=0;j<_this.list.length;j++){
							if(_this.list[j].rId==_this.role[i].name){
								_this.list[j].rId=_this.role[i].id;
							}
						}
					}
					_this.updateWorkerRoleMt=true;
				},
				updateWorkerRoleButton:function () {
					var _this=this;
					_this.worker.rId=_this.arole.id;
					$.ajax({
						url : "/workers/updateWorkerRoleButton",
						data :  _this.worker,
						success : function(data) {
							if (data.code == 200) {
								alert("修改成功");
								_this.updateWorkerRoleMt=false;
								_this.selectWorker();

							}
						}
					});

				}



			},
            watch:{
                worker:{
                    //深度监听 监听对象中属性的变化
                    handler:function(newUser){
                       this.selectWorker();
                    },
                    deep:true
                }
            }
		});
	</script>
</body>
</html>