<!DOCTYPE html>
<html style="margin:0;padding:0">
<head>
    <meta charset="UTF-8">

    <!-- 引入vue -->
    <script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
    <!-- 引入样式 -->

    <link rel="stylesheet" href="../../lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../../css/new_file1.css">
    <!-- 引入组件库 -->
    <script src="../../lib/index.js"></script>
    <!-- 引入axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body style="margin:-30px;padding:0">
<div id="apps">
    <div class="tables">
        <div class="main-ding">
           <el-col :span="2"></el-col>
           <el-col :span="20">

               <el-select placeholder="状态" style="width: 100px" v-model="status" @change="handleChanges(status)">
                   <el-option label="入库" value=0></el-option>
                   <el-option label="出库" value=1></el-option>
                   <el-option label="抓药出库" value=2></el-option>
                   <el-option label="退药入库" value=3></el-option>
               </el-select>
               <el-select style="width: 100px" placeholder="药品"  v-model="drugLists.id" @change="selectTrigger(drugLists.id)">
                   <el-option  v-for="items in drugLists" :key="items.id" :label="items.name"
                               :value="items.id">

                   </el-option>
               </el-select>
               <el-date-picker
                       v-model="date"
                       type="daterange"
                       @change="handleChange(date)"
                       range-separator="至"
                       start-placeholder="开始日期"
                       end-placeholder="结束日期">
               </el-date-picker>
               <el-button icon="el-icon-refresh" circle  @click="repse"></el-button>
             </el-col>



            <el-table ref="singleTable" :data="tableData"  highlight-current-row style="width: 100%">
                <el-table-column width="40" >
                </el-table-column>
                <el-table-column type="index" width="80" label="编号">
                </el-table-column>
                <el-table-column property="drugId" label="药品名" :formatter="formatterName"  width="120">
                </el-table-column>
                <el-table-column property="number" label="数量"  width="100">
                </el-table-column>
                <el-table-column property="name" label="购买人" :formatter="formatterUserName" width="80">
                </el-table-column>
                <el-table-column property="date" label="时间" width="200">
                </el-table-column>
                <el-table-column fixed="right" property="action" label="操作">
                </el-table-column>
            </el-table>
        </div>
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#apps',
        data: function() {
            return {
                visible: false,
                dialogTableVisible: false,
                innerVisible: false,
                formLabelWidth: '120px',
                outerVisible :false,

                ss:'',
                //模拟数据
                tableData:'',
                drugLists:'',
                drugId:'',
                status:'',
                date:'',
                minDate:'',
                maxDate:'',

                //分页数据
                pageIndex:'1',
                pageNum:'10',
                //药品信息数据
                druptableData:'',
                usertableData:''
            }
        },
        created(){
            this.replac();
        },
        methods: {
            repse(){
                axios.get("/phar/selectDrugHis?drugId="+this.drugId+
                    "&status="+this.status+"&minDate="+this.minDate+
                    "&maxDate"+this.maxDate+
                    "&pageIndex="+this.pageIndex+"&pageNum="+this.pageNum).then(data => {
                    if (data.data.code == "200") {
                        this.tableData=data.data.obj.records;
                    }
                });
            },
            handleChanges(value){
               this.status=value;
            },
            handleChange(value) {
                this.minDate=value[0];
                this.maxDate=value[1];
            },
            selectTrigger(value){
                this.drugId=value;
            },
            //重置查页面的方法
            replac(){
                //查询所有药品
                axios.get("/doc/info").then(data => {
                    if (data.data.code == "200") {
                        this.usertableData=data.data.obj.userList;
                        this.projectLists=data.data.obj.projectList;
                        this.drugLists=data.data.obj.drugList;
                    }
                });
                //查询所有清单的
                axios.get("/phar/selectDrugHisAll?pageIndex="+this.pageIndex+"&pageNum="+this.pageNum).then(data => {
                    if (data.data.code == "200") {
                        this.tableData=data.data.obj.records;
                    }
                });
            },
            resetForm() {
                this.outerVisible=false;
            },

            //前端判断男女方法
            formatter(tableData) {
                return tableData.sex === 1 ? "男" : "女";
            },
            formatterName(tableDataName){
                for (let i=0;i<this.drugLists.length;i++) {
                    if(tableDataName.drugId===this.drugLists[i].id){
                        return this.drugLists[i].name;
                    }
                }
            },
            formatterUserName(tableDataUserName){
                for (let i=0;i<this.usertableData.length;i++) {
                    if(tableDataUserName.uId===this.usertableData[i].id){
                         return this.usertableData[i].name;
                    }
                }
            },
        }
    })
</script>
</html>
